/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

.language-container {
  display: flex;
  justify-content: center;
  margin-top: 1.25em; 
  margin-bottom: 0.62em; 
}

.language-container a {
  margin-right: 0.62em; 
  text-decoration: none;
  color: #000000;
  margin-left: 0.31em; 
}

.logoutBtn{
  color: #000000;
  text-decoration: none;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 1.25em; 
  background-color: #fff;
  border-radius: 0.31em; 
  box-shadow:
    0px 0px 0.35em -1.25em rgba(0, 0, 0, 0.055),
    0px 0px 0.58em -1.25em rgba(0, 0, 0, 0.111),
    0px 0px 0.95em -1.25em rgba(0, 0, 0, 0.17),
    0px 0px 1.45em -1.25em rgba(0, 0, 0, 0.235),
    0px 0px 2.22em -1.25em rgba(0, 0, 0, 0.312),
    0px 0px 5em -1.25em rgba(0, 0, 0, 0.56);
}

.title {
  text-align: center;
  margin-bottom: 0.62em; 
  font-size: 1.75rem; 
  font-weight: bold;
  color: #444;
}

.description {
  text-align: center;
  margin-bottom: 1.25em; 
  font-size: 1rem; 
  color: #777;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25em; 
}

label {
  font-size: 1rem; 
  color: #444;
}

input[type="number"] {
  width: 5rem; 
  max-width: 7.5em; 
  height: 2.5em; 
  padding: 0.3125em; 
  border-radius: 0.31em; 
  border: 0.06em solid #ccc; 
  font-size: 1rem; 
  color: #444;
  text-align: center;
}

.btn {
  padding: 0.31em; 
  width: 50%;
  height: 2.5em; 
  margin: 0.31em 0; 
  border-radius: 0.31em; 
  border: none;
  background-color: #408f40;
  color: #fff;
  font-size: 1rem; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.password-container {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.password {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4CAF50;
  word-wrap: break-word;
  margin-top: 1.25em; 
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(83, 83, 83);
  padding: 1.25em; 
  box-shadow: 0 0 0.62em rgba(0, 0, 0, 0.5); 
  z-index: 1;
  border-radius: 0.31em; 
  font-size: 1.12rem;
  color: #000000;
}

@media screen and (max-width: 768px) { 
  .modal {
    width: 90%;
    max-width: 400px; 
    font-size: 16px; 
  }
}


