<!-- auth_ge.html -->

<!DOCTYPE html>
<html lang="ka">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAuth.css') }}">
    <title>ავტორიზაცია</title>
</head>

<body>
    <div class="container">
        <div class="language-container">
            <a href="/register">ENG</a>
            |
            <a href="/register_ge">GEO</a>
        </div>
        <h1>ავტორიზაცია</h1>
        <div class="form-wrapper">
            <div class="form-container">
                <h2>რეგისტრაცია</h2>

                <form method="POST" action="{{ url_for('reg_ge') }}">
                    <label>სახელი:</label>
                    <input type="text" name="username">
                    <label>პაროლი:</label>
                    <input type="password" name="password">
                    <label>პაროლის დადასტურება:</label>
                    <input type="password" name="confirm_password">
                    <input type="submit" name="submit" value="რეგისტრაცია">
                </form>
            </div>

            <div class="form-container">
                <h2>შესვლა</h2>

                <form method="POST" action="{{ url_for('log_ge') }}">
                    <label>სახელი:</label>
                    <input type="text" name="username">
                    <label>პაროლი:</label>
                    <input type="password" name="password">
                    <input type="submit" name="submit" value="შესვლა">
                </form>
            </div>
        </div>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% else %}
        <p class="success">{{ success }}</p>
        {% endif %}
    </div>
</body>

</html>
